body {
	font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding-top: 20px;
    background-image: url("./background.jpg");
            
}
* {box-sizing: border-box}

input {
  width: 35%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input{
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

h1 {
    font-family: 'Courier New', monospace;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
    line-height: 1.5;
 }

.underline {
    border-bottom: 2px solid black;
    display: inline-block;
    margin: 0 5px;
 }

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}


.signupbtn, .submit {
  float: center;
  width: 50%;
  background-color: #4194cb;
}
.img{
  padding-top: 100px;	
  float: left;
  margin-left: 50px; 
  width: 3%;

}
.container {
  padding: 16px;
  padding-right: 20px; 
  float: right;
  width: 40%;
  margin-right: 100px; 
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
